[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mtsdi"]
	path = mtsdi
	url = https://github.com/wjunger/mtsdi
[submodule "pgam"]
	path = pgam
	url = https://github.com/wjunger/pgam
